workflows/WF-004-buyer-profile-intake.json
{
  "name": "WF-004 Buyer Profile Intake",
  "nodes": [
    {
      "parameters": {
        "formTitle": "FarmGateIQ \u2014 Buyer Profile",
        "formDescription": "Register a buyer profile. Trust status is set by the cooperative manager, not automatically. Privacy: contact details (name, phone, email) are stored only to enable approved produce outreach and are not shared without consent. Phone numbers are kept out of system logs. (Nigeria Data Protection Act, 2023.)",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Buyer name",
              "placeholder": "e.g. KadFeed Processing Ltd",
              "requiredField": true
            },
            {
              "fieldLabel": "Contact name",
              "placeholder": "e.g. Emeka Okafor"
            },
            {
              "fieldLabel": "Phone",
              "placeholder": "e.g. +234 000 0000 001"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "e.g. buyer@example.com"
            },
            {
              "fieldLabel": "Commodity interests",
              "placeholder": "e.g. maize, soybeans",
              "requiredField": true
            },
            {
              "fieldLabel": "Min quantity",
              "fieldType": "number",
              "placeholder": "e.g. 50"
            },
            {
              "fieldLabel": "Max quantity",
              "fieldType": "number",
              "placeholder": "e.g. 300"
            },
            {
              "fieldLabel": "Preferred unit",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "bag"
                  },
                  {
                    "option": "kg"
                  },
                  {
                    "option": "tonne"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Preferred locations",
              "placeholder": "e.g. Kaduna, Zaria, Kano"
            },
            {
              "fieldLabel": "Quality requirements",
              "placeholder": "e.g. dry low moisture bagged"
            },
            {
              "fieldLabel": "Payment terms",
              "placeholder": "e.g. payment after inspection"
            },
            {
              "fieldLabel": "Trust status",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "unverified"
                  },
                  {
                    "option": "verified"
                  },
                  {
                    "option": "preferred"
                  },
                  {
                    "option": "blocked"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Notes",
              "fieldType": "textarea",
              "placeholder": "e.g. Reliable payment history. Prefers Zaria pickup."
            },
            {
              "fieldLabel": "Consent",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "I confirm this buyer has agreed to be contacted by the cooperative for produce outreach, in line with the privacy notice above."
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "c3a2b1d0-1111-4c4d-9e03-300000000001",
      "name": "On buyer profile submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1600,
        400
      ],
      "webhookId": "d7e2f4a1-3a42-4e7b-9c88-cc0102030407"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.all()[0].json;\n\nconst errors = [];\nif (!item['Buyer name'] || !String(item['Buyer name']).trim()) errors.push('Buyer name');\nif (!item['Commodity interests'] || !String(item['Commodity interests']).trim()) errors.push('Commodity interests');\nconst hasPhone = !!(item['Phone'] && String(item['Phone']).trim());\nconst hasEmail = !!(item['Email'] && String(item['Email']).trim());\nif (!hasPhone && !hasEmail) errors.push('Phone or Email (at least one contact method)');\n\nif (errors.length) {\n  throw new Error('Missing required fields: ' + errors.join(', '));\n}\n\nconst map = { corn: 'maize', masara: 'maize', 'yellow maize': 'maize', 'white maize': 'maize' };\nconst interests = String(item['Commodity interests']).toLowerCase().split(',').map(s => s.trim()).filter(Boolean).map(c => map[c] || c);\nconst norm_interests = [...new Set(interests)].join(', ');\n\nreturn [{ json: Object.assign({}, item, { norm_interests: norm_interests }) }];"
      },
      "id": "c3a2b1d0-2222-4c4d-9e03-300000000002",
      "name": "Validate buyer profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf004-ef-01",
              "name": "id",
              "value": "={{ \"buyer_\" + $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "wf004-ef-02",
              "name": "name",
              "value": "={{ $json['Buyer name'] }}",
              "type": "string"
            },
            {
              "id": "wf004-ef-03",
              "name": "contact_name",
              "value": "={{ $json['Contact name'] }}",
              "type": "string"
            },
            {
              "id": "wf004-ef-04",
              "name": "phone",
              "value": "={{ $json['Phone'] }}",
              "type": "string"
            },
            {
              "id": "wf004-ef-05",
              "name": "email",
              "value": "={{ $json['Email'] }}",
              "type": "string"
            },
            {
              "id": "wf004-ef-06",
              "name": "commodity_interests",
              "value": "={{ $json.norm_interests }}",
              "type": "string"
            },
            {
              "id": "wf004-ef-07",
              "name": "min_quantity",
              "value": "={{ $json['Min quantity'] }}",
              "type": "number"
            },
            {
              "id": "wf004-ef-08",
              "name": "max_quantity",
              "value": "={{ $json['Max quantity'] }}",
              "type": "number"
            },
            {
              "id": "wf004-ef-09",
              "name": "preferred_unit",
              "value": "={{ $json['Preferred unit'] }}",
              "type": "string"
            },
            {
              "id": "wf004-ef-10",
              "name": "preferred_locations",
              "value": "={{ $json['Preferred locations'] }}",
              "type": "string"
            },
            {
              "id": "wf004-ef-11",
              "name": "quality_requirements",
              "value": "={{ $json['Quality requirements'] }}",
              "type": "string"
            },
            {
              "id": "wf004-ef-12",
              "name": "payment_terms",
              "value": "={{ $json['Payment terms'] }}",
              "type": "string"
            },
            {
              "id": "wf004-ef-13",
              "name": "trust_status",
              "value": "={{ $json['Trust status'] }}",
              "type": "string"
            },
            {
              "id": "wf004-ef-14",
              "name": "notes",
              "value": "={{ $json['Notes'] }}",
              "type": "string"
            },
            {
              "id": "wf004-ef-15",
              "name": "prototype_data",
              "value": "TRUE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3a2b1d0-3333-4c4d-9e03-300000000003",
      "name": "Assemble buyer row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1024,
        400
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1q2y6vbxwNKHYlZrfSNN6qSmJjjB1Ea_eKhbsPv-d0Dg",
          "mode": "list",
          "cachedResultName": "FarmGateIQ Demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q2y6vbxwNKHYlZrfSNN6qSmJjjB1Ea_eKhbsPv-d0Dg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "buyers",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_name",
              "displayName": "contact_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "commodity_interests",
              "displayName": "commodity_interests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "min_quantity",
              "displayName": "min_quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "max_quantity",
              "displayName": "max_quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "preferred_unit",
              "displayName": "preferred_unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "preferred_locations",
              "displayName": "preferred_locations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quality_requirements",
              "displayName": "quality_requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_terms",
              "displayName": "payment_terms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "trust_status",
              "displayName": "trust_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prototype_data",
              "displayName": "prototype_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c3a2b1d0-4444-4c4d-9e03-300000000004",
      "name": "Append to buyers",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -736,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6fgPX3DIeadPIyK8",
          "name": "FarmGateIQ Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf004-al-01",
              "name": "id",
              "value": "={{ \"audit_\" + $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "wf004-al-02",
              "name": "event_type",
              "value": "submission",
              "type": "string"
            },
            {
              "id": "wf004-al-03",
              "name": "actor",
              "value": "manager",
              "type": "string"
            },
            {
              "id": "wf004-al-04",
              "name": "entity_type",
              "value": "buyer",
              "type": "string"
            },
            {
              "id": "wf004-al-05",
              "name": "entity_id",
              "value": "={{ $('Assemble buyer row').all()[0].json.id }}",
              "type": "string"
            },
            {
              "id": "wf004-al-06",
              "name": "input_summary",
              "value": "={{ $('Assemble buyer row').all()[0].json.name + ' / interests: ' + $('Assemble buyer row').all()[0].json.commodity_interests }}",
              "type": "string"
            },
            {
              "id": "wf004-al-07",
              "name": "output_summary",
              "value": "={{ 'trust: ' + $('Assemble buyer row').all()[0].json.trust_status + ' | qty ' + $('Assemble buyer row').all()[0].json.min_quantity + '-' + $('Assemble buyer row').all()[0].json.max_quantity + ' | locations: ' + $('Assemble buyer row').all()[0].json.preferred_locations }}",
              "type": "string"
            },
            {
              "id": "wf004-al-08",
              "name": "prompt_version",
              "value": "n/a",
              "type": "string"
            },
            {
              "id": "wf004-al-09",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3a2b1d0-5555-4c4d-9e03-300000000005",
      "name": "Prepare audit log row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        400
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1q2y6vbxwNKHYlZrfSNN6qSmJjjB1Ea_eKhbsPv-d0Dg",
          "mode": "list",
          "cachedResultName": "FarmGateIQ Demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q2y6vbxwNKHYlZrfSNN6qSmJjjB1Ea_eKhbsPv-d0Dg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "audit_log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "actor",
              "displayName": "actor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "entity_type",
              "displayName": "entity_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "entity_id",
              "displayName": "entity_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "input_summary",
              "displayName": "input_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output_summary",
              "displayName": "output_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt_version",
              "displayName": "prompt_version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c3a2b1d0-6666-4c4d-9e03-300000000006",
      "name": "Append to audit_log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6fgPX3DIeadPIyK8",
          "name": "FarmGateIQ Google Sheets"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On buyer profile submission": {
      "main": [
        [
          {
            "node": "Validate buyer profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate buyer profile": {
      "main": [
        [
          {
            "node": "Assemble buyer row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble buyer row": {
      "main": [
        [
          {
            "node": "Append to buyers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to buyers": {
      "main": [
        [
          {
            "node": "Prepare audit log row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare audit log row": {
      "main": [
        [
          {
            "node": "Append to audit_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "wf004-0000-0000-0000-000000000001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33b377893e02107d8093583c8d70bb727f721ce98e4545e888ca140e1058bc51"
  },
  "id": "wf004BuyerProfileIntake",
  "tags": []
}