workflows/WF-007-buyer-response.json
{
  "name": "WF-007 Buyer Response",
  "nodes": [
    {
      "parameters": {
        "formTitle": "FarmGateIQ \u2014 Log Buyer Response",
        "formDescription": "Record a buyer's reply. The system classifies it and updates the deal tracker. It does NOT reply to the buyer \u2014 any reply goes through approval.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Buyer ID",
              "placeholder": "e.g. buyer_001",
              "requiredField": true
            },
            {
              "fieldLabel": "Produce lot ID",
              "placeholder": "e.g. lot_001",
              "requiredField": true
            },
            {
              "fieldLabel": "Response text",
              "fieldType": "textarea",
              "placeholder": "Paste the buyer's reply here.",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "a7b20001-1111-4a70-9b06-600000000001",
      "name": "Log buyer response",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1760,
        420
      ],
      "webhookId": "f3a4b5c6-9a02-4e3b-9cee-001112030413"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.all()[0].json;\nconst buyerId = String(item['Buyer ID'] || '').trim();\nconst lotId = String(item['Produce lot ID'] || '').trim();\nconst text = String(item['Response text'] || '').trim();\nif (!buyerId) throw new Error('Buyer ID is required.');\nif (!lotId) throw new Error('Produce lot ID is required.');\nif (!text) throw new Error('Response text is required.');\n\nconst parts = [];\nparts.push('You are classifying a buyer reply to a Nigerian farmer cooperative maize outreach.');\nparts.push('Classify the reply into exactly ONE status from this list: interested, counter_offer, needs_information, rejected, suspicious, irrelevant.');\nparts.push('Definitions: interested = wants to proceed, inspect, or buy; counter_offer = proposes a different price or terms; needs_information = asks for more details before deciding; rejected = declines; suspicious = unsafe or scam-like terms (for example, asking for goods to be sent before any payment); irrelevant = not about this deal.');\nparts.push('Then write a one-sentence summary and a recommended NEXT ACTION for the cooperative MANAGER (not a reply to the buyer).');\nparts.push('Do NOT draft a message to the buyer - any reply to a buyer must go through separate human approval.');\nparts.push('');\nparts.push('BUYER ID: ' + buyerId);\nparts.push('LOT ID: ' + lotId);\nparts.push('REPLY TEXT:');\nparts.push(text);\nparts.push('');\nparts.push('Return ONLY a JSON object, no markdown fences:');\nparts.push('{ \"classified_status\": \"...\", \"summary\": \"...\", \"recommended_next_action\": \"...\", \"suspicious\": true }');\n\nreturn [{ json: Object.assign({}, item, { prompt: parts.join('\\n'), buyer_id: buyerId, lot_id: lotId, response_text: text }) }];"
      },
      "id": "a7b20002-2222-4a70-9b06-600000000002",
      "name": "Build classify prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1480,
        420
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "a7b20003-3333-4a70-9b06-600000000003",
      "name": "Classify response",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -1200,
        420
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "id": "a7b20004-4444-4a70-9b06-600000000004",
      "name": "Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [
        -1200,
        640
      ],
      "credentials": {
        "anthropicApi": {
          "id": "AJlbHyd94uQQBZ92",
          "name": "dmg_anthropic_account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.all()[0].json;\nconst src = $('Build classify prompt').all()[0].json;\nconst validStatuses = ['interested', 'counter_offer', 'needs_information', 'rejected', 'suspicious', 'irrelevant'];\n\nlet parsed;\ntry {\n  const t = (item.text || item.output || '').replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  parsed = JSON.parse(t);\n} catch (e) {\n  parsed = { classified_status: 'needs_information', summary: 'Could not parse classification: ' + e.message, recommended_next_action: 'Manager to review the raw reply manually.', suspicious: false };\n}\n\nlet status = String(parsed.classified_status || '').toLowerCase().trim();\nif (!validStatuses.includes(status)) status = 'needs_information';\n\nconst statusMap = { interested: 'interested', counter_offer: 'negotiating', needs_information: 'negotiating', rejected: 'closed_lost', suspicious: 'contacted', irrelevant: 'contacted' };\nconst deal_status = statusMap[status] || 'contacted';\nconst suspicious = (parsed.suspicious === true || status === 'suspicious') ? 'TRUE' : 'FALSE';\n\nreturn [{ json: {\n  buyer_id: src.buyer_id,\n  lot_id: src.lot_id,\n  response_text: src.response_text,\n  classified_status: status,\n  summary: parsed.summary || '',\n  recommended_next_action: parsed.recommended_next_action || 'Manager to review.',\n  suspicious: suspicious,\n  deal_status: deal_status,\n  deal_id: 'deal_' + src.lot_id + '_' + src.buyer_id\n}}];"
      },
      "id": "a7b20005-5555-4a70-9b06-600000000005",
      "name": "Parse classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -920,
        420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf007-dl-01",
              "name": "id",
              "value": "={{ $json.deal_id }}",
              "type": "string"
            },
            {
              "id": "wf007-dl-02",
              "name": "produce_lot_id",
              "value": "={{ $json.lot_id }}",
              "type": "string"
            },
            {
              "id": "wf007-dl-03",
              "name": "buyer_id",
              "value": "={{ $json.buyer_id }}",
              "type": "string"
            },
            {
              "id": "wf007-dl-04",
              "name": "current_status",
              "value": "={{ $json.deal_status }}",
              "type": "string"
            },
            {
              "id": "wf007-dl-05",
              "name": "next_action",
              "value": "={{ $json.recommended_next_action }}",
              "type": "string"
            },
            {
              "id": "wf007-dl-06",
              "name": "responsible_user",
              "value": "manager_amina",
              "type": "string"
            },
            {
              "id": "wf007-dl-07",
              "name": "last_updated_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a7b20006-6666-4a70-9b06-600000000006",
      "name": "Build deal update",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        420
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1q2y6vbxwNKHYlZrfSNN6qSmJjjB1Ea_eKhbsPv-d0Dg",
          "mode": "list",
          "cachedResultName": "FarmGateIQ Demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q2y6vbxwNKHYlZrfSNN6qSmJjjB1Ea_eKhbsPv-d0Dg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "deal_records",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "produce_lot_id",
              "displayName": "produce_lot_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "buyer_id",
              "displayName": "buyer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quoted_price",
              "displayName": "quoted_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quoted_price_unit",
              "displayName": "quoted_price_unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_status",
              "displayName": "current_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_action",
              "displayName": "next_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "responsible_user",
              "displayName": "responsible_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_updated_at",
              "displayName": "last_updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a7b20007-7777-4a70-9b06-600000000007",
      "name": "Upsert deal_records",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -360,
        420
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6fgPX3DIeadPIyK8",
          "name": "FarmGateIQ Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf007-al-01",
              "name": "id",
              "value": "={{ \"audit_\" + $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "wf007-al-02",
              "name": "event_type",
              "value": "llm_output",
              "type": "string"
            },
            {
              "id": "wf007-al-03",
              "name": "actor",
              "value": "system",
              "type": "string"
            },
            {
              "id": "wf007-al-04",
              "name": "entity_type",
              "value": "deal_record",
              "type": "string"
            },
            {
              "id": "wf007-al-05",
              "name": "entity_id",
              "value": "={{ $('Parse classification').all()[0].json.deal_id }}",
              "type": "string"
            },
            {
              "id": "wf007-al-06",
              "name": "input_summary",
              "value": "={{ 'buyer ' + $('Parse classification').all()[0].json.buyer_id + ' reply on lot ' + $('Parse classification').all()[0].json.lot_id }}",
              "type": "string"
            },
            {
              "id": "wf007-al-07",
              "name": "output_summary",
              "value": "={{ 'classified: ' + $('Parse classification').all()[0].json.classified_status + ' -> deal ' + $('Parse classification').all()[0].json.deal_status + ($('Parse classification').all()[0].json.suspicious === 'TRUE' ? ' (SUSPICIOUS)' : '') }}",
              "type": "string"
            },
            {
              "id": "wf007-al-08",
              "name": "prompt_version",
              "value": "v1.0",
              "type": "string"
            },
            {
              "id": "wf007-al-09",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a7b20008-8888-4a70-9b06-600000000008",
      "name": "Prepare audit log row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        420
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1q2y6vbxwNKHYlZrfSNN6qSmJjjB1Ea_eKhbsPv-d0Dg",
          "mode": "list",
          "cachedResultName": "FarmGateIQ Demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q2y6vbxwNKHYlZrfSNN6qSmJjjB1Ea_eKhbsPv-d0Dg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "audit_log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "actor",
              "displayName": "actor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "entity_type",
              "displayName": "entity_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "entity_id",
              "displayName": "entity_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "input_summary",
              "displayName": "input_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output_summary",
              "displayName": "output_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt_version",
              "displayName": "prompt_version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a7b20009-9999-4a70-9b06-600000000009",
      "name": "Append to audit_log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        200,
        420
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6fgPX3DIeadPIyK8",
          "name": "FarmGateIQ Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "fisayo.dmg@gmail.com",
        "subject": "={{ 'FarmGateIQ \u2014 Buyer ' + $('Parse classification').all()[0].json.buyer_id + ' replied: ' + $('Parse classification').all()[0].json.classified_status + ($('Parse classification').all()[0].json.suspicious === 'TRUE' ? ' [SUSPICIOUS]' : '') }}",
        "message": "={{ '<p><b>Buyer reply classified.</b></p>' + '<p>Buyer: ' + $('Parse classification').all()[0].json.buyer_id + '<br>Lot: ' + $('Parse classification').all()[0].json.lot_id + '<br>Classification: <b>' + $('Parse classification').all()[0].json.classified_status + '</b><br>Deal status now: ' + $('Parse classification').all()[0].json.deal_status + '</p>' + ($('Parse classification').all()[0].json.suspicious === 'TRUE' ? '<p style=\"color:#b00\"><b>\\u26A0 Flagged suspicious \u2014 do not act without verification.</b></p>' : '') + '<p><b>Summary:</b> ' + $('Parse classification').all()[0].json.summary + '</p>' + '<p><b>Recommended next action:</b> ' + $('Parse classification').all()[0].json.recommended_next_action + '</p>' + '<hr><p style=\"color:#888\">Any reply to the buyer must be drafted and approved via the approval workflow before sending.</p>' }}",
        "options": {}
      },
      "id": "a7b2000a-aaaa-4a70-9b06-600000000010",
      "name": "Notify manager \u2014 response classified",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        420
      ],
      "webhookId": "a4b5c6d7-0a12-4f4c-9aff-001112030414",
      "credentials": {
        "gmailOAuth2": {
          "id": "2r8GogZEDpu5efcc",
          "name": "FarmGateIQ Gmail"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Log buyer response": {
      "main": [
        [
          {
            "node": "Build classify prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build classify prompt": {
      "main": [
        [
          {
            "node": "Classify response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude": {
      "ai_languageModel": [
        [
          {
            "node": "Classify response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classify response": {
      "main": [
        [
          {
            "node": "Parse classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse classification": {
      "main": [
        [
          {
            "node": "Build deal update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build deal update": {
      "main": [
        [
          {
            "node": "Upsert deal_records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert deal_records": {
      "main": [
        [
          {
            "node": "Prepare audit log row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare audit log row": {
      "main": [
        [
          {
            "node": "Append to audit_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to audit_log": {
      "main": [
        [
          {
            "node": "Notify manager \u2014 response classified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "pRCNEh6HdS9yFxXn",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "271b35bd-7123-4b9f-8866-f4015b6e38c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33b377893e02107d8093583c8d70bb727f721ce98e4545e888ca140e1058bc51"
  },
  "id": "wf007BuyerResponse",
  "tags": []
}